html {
  color-scheme: only dark !important;
  scroll-behavior: smooth !important;
}

:root {
  --primary: #eee;
  --secondary: #555;
  --background: #111;
  --border-col: #ffffff38;
  --text-col: #eee;
  counter-reset: item-num;

  --accent-color: #eeeeee;
}

body {
  font-family: 'Klee One', sans-serif;
  color: var(--text-col);
  background: var(--background);
  display: flex;
  justify-content: center;

  margin: 0;
}

.app-container {
  display: flex;
}

.list-container {
  flex-grow: 1;
  margin-right: .5em;
  margin-left: .5em;
/*   min-width: 760px; */
  width: 100vw;
/*  width: auto;*/
  min-width: 320px;
  max-width: 860px;
  /*! margin: auto; */
  
}


.hidden {
  display: none !important;
}
.collapse-height {
  height: 0 !important;
}

input, button, select {
  font-family: 'Klee One', sans-serif;
  cursor: pointer;
  background: var(--accent-color);
}
select {
  color: var(--background);
}

button.button-icon {
  background: none;
  border: none;
  outline: none;
  color: var(--accent-color);
}

input[type="text"] {
  cursor: text;
}

input {
  background: none;
  border: none;
  outline: none;
}

input[disabled] {
  color: currentColor;
  opacity: 1;
}

/*input.item-name,*/
input.item-price {
  width: 100%;
}



#home {
  width: 100vw;
  height: 100vh;
  max-width: 340px;
  
  overflow: hidden;
  transition: height 2s ease-out;
}

#home.home-collapsed {
  height: 0 !important;
}

button.grocery-list {
  width: 100%;
  margin: .5em 0;
  text-align: left;
/*   border: 1px solid (--border-col); */
  border: none;
  border-radius: 6px;
  padding: .5em 1em;
/*  background: var(--primary);*/
  background: var(--accent-color);
  color: var(--secondary);
  font-weight: bold;
}

label > .checkbox-checked,
label > .checkbox-empty {
  color: var(--accent-color);
}

#new-list-btn {
/*  border: 2px solid var(--border-col);*/
  border: 2px solid var(--accent-color);
  background: none;
/*  color: var(--primary);*/
  color: var(--accent-color);
}

.home-inner {
  position: relative;
  display: flex;
  flex-direction: column;
/*   justify-content: center; */
  padding: 2em;
/*   height: 100vh; */
}
.home-inner p {
  width: 10em;
}

.info-box {
  margin: .5em;
  opacity: .8;
}

.theme-settings {
  position: absolute;
  display: flex;
/*  justify-content: center;*/
  align-items: start;
  right: 0;
}
.button-theme {
  font-size: 1.25em;
  padding: .25em;
  margin: 0 .25em;
}
.theme-color-dropdown {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
/*  transition: .2s ease;*/
}
.theme-item {
/*  display: inline-block;*/
/*  background: white;*/
  width: 1.2em;
  height: 1.2em;
  margin: .2em;
  border-radius: 50%;
}



#add-item {
  display: inline-block;
  padding: .2em 1em;
  margin: 1em;
  text-align: center;
  border: none;
  border-radius: 6px;
  padding: .5em 1em;
  background: var(--accent-color);
  color: var(--background);
  font-weight: bold;
}


.row {
  position: relative;
}

.list-control {
  display: flex;
  flex-direction: column;
  padding: .5em;
}

#list-title {
  font-size: 1.6em;
  margin-bottom: .2em;
}


#table > .row > .col-item-num > .item-num {
  counter-increment: item-num;
}
#table > .row > .col-item-num > .item-num:after {
  content: counter(item-num);
  font-weight: bold;
}

.row-error .col-item-price {
/*  background: #f0054260;*/
outline: 2px solid #f00542d0;;
}

.row:not(.hidden):nth-of-type(odd) {
  background: #ffffff02;
}
.row:not(.hidden):nth-of-type(even) {
  background: #ffffff11;
}

.row > div,
.row > label {
  border: 1px solid var(--border-col);
  padding: .5em;
}
.header > div {
  border: 1px solid var(--border-col);
}


/* #table > .row > div:not(:last-child) {
  border-right: none;
} */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .checkbox-empty {
  display: none;
}
input[type="checkbox"]:not(:checked) ~ .checkbox-checked {
  display: none;
}

.checkbox-empty,
.checkbox-checked {
  display: inline-block;
  margin-top: .5em;
}

.row .checkbox {
  text-align: center;
}

.row:not(.row-error) .col-item-num {
  cursor: pointer;
}
.row.row-error .col-item-num {
  cursor: not-allowed;
}
.row[data-checked="true"] .col-item-num {
  color: var(--background);
  background: var(--accent-color);
}

#table > .row {
  display: grid;
  grid-template-columns: 2.5em auto 50%;
  grid-template-rows: auto auto;
}
#table > .row:last-child {
  border-bottom: 1px solid var(--border-col);
}

.row > .col-item-num {
  padding: .2em;
}
.row > .col-item-num {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2px;
  border-bottom: none;
  color: var(--accent-color);
  border-right: 2px solid var(--accent-color);
}
.item-num {
  text-align: center;
  min-height: 1em;
}
.row > .col-item-name {
  display: flex;
  height: 2em;
  border-bottom: none;
  border-left: none;
}
.item-name {
  flex-grow: 1;
  height: 100%;
  font-size: 1.15em;
}
.row > .col-item-name:not(:focus-within) ~ .button-del {
  display: none;
}

.row > .col-item-price {
  display: flex;
  border-bottom: none;
  border-left: none;
}
.item-price {
  padding-left: .8em;
}
.item-qty {
  padding-right: .8em;
  max-width: 2em;
}
.row > .col-item-total {
  border-bottom: none;
}



.item-total {
  display: none;
}

.col-item-num {
  grid-row-start: 1;
  grid-row-end: 3;
}

.col-item-name {
  grid-column-start: 2;
  grid-column-end: 4;
}


#table .row.header {
  display: none;
}



.row-done > div:not(.col-item-num) {
/*   opacity: .15 */
}
.row-done > .col-item-num {
  background: #20ee4034;
}

.footer > .total-container {
  display: grid;
  grid-template-columns: auto auto;
/*  width: fit-content;*/
  margin-top: 1em;
}

.footer > .total-container > div {
  border: 1px solid var(--border-col);
  box-sizing: border-box;
  min-height: 1em;
  padding: .5em;
}

@media ( max-width : 600px ) {
  #home {
    margin: auto;
  }
  .app-container {
    flex-direction: column;
  }

  .list-container {
    margin: 0;
  }

  #table, .footer {
    padding: 0 1em;
  }
}





